
.container {
    margin-top: 0;
    margin: 1px dashed red;
}

.bg-custom-tertiary {
    background-color: #2C3E50;
}
#navbarNavCustom {
    display: flex;
    justify-content: flex-end;
    display: none;
}
.container.header h4 {
    margin-bottom: 0;
}

.container-fluid.first {
    background-color: #19BC9C;
    color: #ffffff;
}
.container-fluid.first img {
    width: 20%;
}
.col-lg-4.col-md-6 {
    padding: 0;
}
.container.second.text-center img {
    width: 100%;
    padding: 1rem;
    border-radius: 30px;
}
.container.second.text-center .col-4 {
    padding-top: 3rem;
    text-align: center;
}

.container-fluid.first .row.justify-content-center {
    padding: 1rem 3rem;
}
.container-fluid.third {
    padding: 1rem;
    background-color: #19BC9C;
    color: #ffffff;
    max-height: 500px;
}

.col-lg-3.col-md-6.col-sm-8.text-start {
    padding: 1rem;
}
.col-1.text-center.button {
    align-self: center;
}
.container-fluid.third.text-center.button {
    margin: 1rem;
}

.col-8.text-start {
    border-bottom: 1px solid black;
    margin: 1rem;
    padding: 1rem 0rem;
}

.container-fluid.fifth.text-center {
    display: flex;
    align-items: center;
    background-color: #3A546D;
    color: #ffffff;
    min-height: 15rem;
}

.btn-custom {
    margin: 2rem;
    background-color: #19BC9C;
    color: #ffffff;
}

.btn-outline-light {
    display: flex;
    justify-content: center;
}

.container-fluid.footer.text-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6rem;
    background-color: #2C3E50;
    color: #ffffff;
}